<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To do List</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>

    <div class="box" id="heading">
      <h1><%= listTitle %></h1>
    </div>

    <div class="box">

        <% itemList.forEach((itemList, i) => {%>
        <div class="item">

          <input type="checkbox" >
         <p><%= itemList %></p>

        </div>
        <%   }); %>



    <form  action="/" method="post" class="item">
      <input type="text" name="newItem"  placeholder="New Item" >
      <button type="submit" name="button" >+</button>
    </form>
 </div>

  </body>
  <footer>
      @SlothFactory production.
  </footer>
</html>
